---
import { Icon } from 'astro-icon/components';
import { SITE } from '@/site.config';
---

{
  SITE.showBackButton ? (
    <a
      id='back-button'
      href='/'
      class='flex w-fit items-center justify-start gap-1 px-2 text-foreground-primary/75 underline underline-offset-4 transition-colors hover:text-foreground-primary'
    >
      <Icon name='tabler:chevron-left' />
      Go back
    </a>
  ) : null
}

<script>
  import { SITE } from '@/site.config';

  const STORAGE_KEY = SITE.browserStorage.backUrl;

  const updateGoBackUrl = () => {
    const backBtns: NodeListOf<HTMLAnchorElement> =
      document.querySelectorAll('#back-button');

    if (!backBtns.length) return;

    const backUrl = sessionStorage.getItem(STORAGE_KEY);
    const currentPath = window.location.pathname;

    backBtns.forEach(backBtn => {
      if (backUrl) {
        if (backUrl !== currentPath) {
          backBtn.href = backUrl;
        } else {
          backBtn.href = '/';
        }
      }
    });
  };

  const handleStorageChange = (e: StorageEvent) => {
    if (e.key === STORAGE_KEY && e.newValue) {
      updateGoBackUrl();
    }
  };

  document.addEventListener('astro:page-load', updateGoBackUrl);
  window.addEventListener('storage', handleStorageChange);
</script>
