---
import type { CollectionEntry } from 'astro:content';
import { SITE } from '@/site.config';
import { Icon } from 'astro-icon/components';

export interface Props {
  hideEditPost?: CollectionEntry<
    'blogs' | 'short_reads'
  >['data']['hideEditPost'];
  class?: string;
  post: CollectionEntry<'blogs' | 'short_reads'>;
}

const { hideEditPost, post, class: className = '' } = Astro.props;

const href = `${SITE.editPost.url}${post.filePath}`;
const showEditPost =
  SITE.editPost.enabled && !hideEditPost && href.trim() !== '';
---

{
  showEditPost && (
    <a
      href={href}
      target='_blank'
      rel='noopener noreferrer'
      class:list={[
        'flex items-center justify-baseline gap-1.5 text-foreground-muted transition-colors hover:text-foreground-primary hover:underline hover:underline-offset-4',
        className,
      ]}
    >
      <Icon name='tabler:external-link' class='size-4' />
      <span>{SITE.editPost.text}</span>
    </a>
  )
}
