---
import BaseLayout from './BaseLayout.astro';
import ContentLayout from './ContentLayout.astro';

export interface Props {
  frontmatter: {
    title: string;
  };
}

const { frontmatter } = Astro.props;
---

<BaseLayout title='about'>
  <ContentLayout pageTitle={frontmatter.title}>
    <main id='main-content'>
      <section id='about' class='app-prose max-w-app'>
        <slot />
      </section>
    </main>
  </ContentLayout>
</BaseLayout>
